/*body {
    padding-top: 50px;
    padding-bottom: 20px;
}

.body-content {
    padding-left: 15px;
    padding-right: 15px;
}

.dl-horizontal dt {
    white-space: normal;
}

input,
select,
textarea {
    max-width: 280px;
}*/


@media only screen and (min-width : 992px) {
    header, main, footer {
    padding-left: 240px;
}
}
ul.side-nav.fixed li.logo {
    text-align: center;
    margin-top: 32px;
    margin-bottom: 16px;
    border-bottom: 1px solid #ddd;
}

nav.top-nav {
    height: 122px;
    box-shadow: none;
}

.page-title {
    line-height: 122px;
    font-size: 48px;
}

.min-width {
    width: 1px !important;
}

.marker {
    font-size: 0.8em;
    padding: 3px;
    color: #fff;
    border-radius: 2px;
}

.text-lg {
    font-size: 1.2em;
    
}

.pad-l-lg {
    padding-left: 35px;
}

.text-nowrap {
    white-space: nowrap;
}

.bold {
    font-weight: 700;
}

.text-bg {
    font-size: 1.4em;
}

.no-marg-bot {
    margin-bottom: 0 !important;
}

tr.updated-task-claim {
    /*border: 1px solid red;*/
    -webkit-animation-name: updated-task-claim; /* Chrome, Safari, Opera */
    -webkit-animation-duration: 4s; /* Chrome, Safari, Opera */
    animation-name: updated-task-claim;
    animation-duration: 4s;
}

/* Chrome, Safari, Opera */
@-webkit-keyframes updated-task-claim {
    0% {background-color: #ffecb3;}
    100% {background-color: #fff;}
}

/* Standard syntax */
@keyframes updated-task-claim {
    0% {background-color: #ffecb3;}
    100% {background-color: #fff;}
}

.marg-r-sm {
    margin-right: 5px;    
}

.marg-r-md {
    margin-right: 15px;    
}

.no-pad-bot {
    padding-bottom: 0 !important;
}

.no-marg-bot {
    margin-bottom: 0 !important;
}

.no-pad {
    padding: 0 !important;
}

.no-marg {
    margin: 0 !important;
}

td.row-marker {
    width: 5px; 
}