
    <div class="file-field input-field">
        <div class="btn">
            <span>Файл</span>
            <input type="file" name="file" multiple>
        </div>
        <div class="file-path-wrapper">
            <input class="file-path validate" type="text" placeholder="Выберите один или несколько файлов">
        </div>
    </div>
